<div>
    <table ng-show="$ctrl.flights.length" class="table">
        <thead>
        <tr>
            <th ng-click="$ctrl.sortBy(header)" ng-repeat="header in $ctrl.tableHeaders" class="tableHeader">{{header}}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="flight in $ctrl.flights">
            <td>{{$ctrl.formatDate(flight.dateFrom)}}</td>
            <td>{{$ctrl.formatDate(flight.dateTo)}}</td>
            <td>{{flight.price | currency : flight.currency}}</td>
            <td>{{flight.tripDuration.humanize()}}</td>
            <td>
                <i class="fa fa-2x fa-shopping-cart flights-action-icon" aria-hidden="true"></i>
                <i class="fa fa-2x fa-star flights-action-icon" ng-click="$ctrl.toggleFavourite(flight)" ng-class="{'yellow-icon': flight.favourite}" aria-hidden="true"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="!$ctrl.flights.length" class="notification is-warning">
        <i class="fa fa-2x fa-exclamation no-flights-icon" aria-hidden="true"></i> No flights available
    </div>
</div>