@import '../scss/main';

$flightsButtonWidth: 50%;

.airports-search-results {
  overflow-y: auto;
  height: 15em;

  .airports-search-item {
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.5em;

    &:hover {
      color: $tileText;
      background-color: $primary;
    }
  }
}

.flights-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .flights-form-dates {
    margin-bottom: 3em;
  }

  .flights-search-button {
    width: $flightsButtonWidth;
  }
}


.airport-tile-root {
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px $primary solid;
  border-radius: 0.5em;
  padding: 0.5em;
  background: $primary;
  margin: 1em;
  color: $tileText;
  cursor: default;

  .tile-mid {
    font-weight: bold;
    font-size: 5em;
  }
}

.flights-action-icon {
    cursor: pointer;
    margin-left: 0.5em;
  &:hover {
    color: $primary;
  }
}

.no-flights-icon {
  color: $danger;
  margin-right: 2em
}

.yellow-icon {
  color: $success !important;
}

.tableHeader {
  &:hover {
    color: $primary;
  }
  cursor: pointer;
}

.plane-icon {
  transform: rotate(45deg);
}
