<div class="airport-selector-root">
    <div class="airport-selector-input-container">
        <input type="text" class="input is-info" placeholder="{{$ctrl.inputPlaceholder}}"
               ng-model="$ctrl.searchQuery" ng-change="$ctrl.clearAirportSelected()" ng-focus="$ctrl.onFocus()">

        <span ng-click="$ctrl.removeIconClicked()" class="icon search-query-remove-icon" ng-class="{'element-faded': !$ctrl.airportSelected}">
            <i class="fa fa-times"></i>
        </span>
    </div>
    <ul ng-if="$ctrl.isAutoCompleteVisible" class="airports-search-results">
        <li ng-repeat="airport in $ctrl.airportsAvailable | filter : $ctrl.isAirportMatched"
            ng-click="$ctrl.onAirportSelected(airport)"
            class="airports-search-item">{{airport.name}} ({{airport.country.name}})</li>
    </ul>
</div>