$primary: #2780ff;

.airport-selector-root {
    margin: 1em;
    .airport-selector-input-container {
      position: relative;

      .search-query-remove-icon {
          position: absolute;
          right: 0.5em;
          bottom: 0.2em;

          &:hover {
              color: $primary;
          }
      }
    }
}

.route-info {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.airport-tile-root {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px $primary solid;
  border-radius: 0.5em;
  padding: 0.5em;
  background: $primary;
  margin: 1em;
  color: white;
  cursor: default;

  .tile-mid {
    font-weight: bold;
    font-size: 5em;
  }
}

.plane-icon {
  transform: rotate(45deg);
}

.element-faded {
  opacity: 0.5;
}

.centered {
  display: flex;
  justify-content: center;
}

