$primary: #073590;
$info: #0D49C0;
$success: #2091EB;
$warning: #F1C933;
$danger: #CF2E1D;
$tileText: white;

.airport-selector-root {
    margin: 1em;
    .airport-selector-input-container {
      position: relative;

      .search-query-remove-icon {
          position: absolute;
          right: 0.5em;
          bottom: 0.2em;

          &:hover {
              color: $success;
          }
      }
    }
}

.route-info {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.element-faded {
  opacity: 0.5;
}

.centered {
  display: flex;
  justify-content: center;
}

@import '../../node_modules/bulma/bulma.sass';
